[2016-11-07 09:36] kwin opened #5 "Support SSO"
Compare with https://jira.sonarsource.com/browse/SONARPLUGINS-694.

[2016-11-11 12:26] carlobongiovanni opened #6 "map groups from crowd"
Hi,
is it possible to use this plugin to map groups from crowd to sonar?

So for example I have in crowd groups called:
* sonar-administrators
* sonar-qualitygates
* sonar-etc

and I would like to map those groups with groups in sonar. Reading the wiki I understand is possible, but I could not find any description of how to configure them.

Thanks

[2016-12-06 14:18] nikogfi commented on #5
vote

[2017-02-09 21:12] sasah commented on #5
vote

[2017-03-13 14:21] netropic commented on #6
I am also having problems getting Crowd (2.7.2) groups pulled into Sonar (5.6.4).

Furthermore, If i add a user to sonar-administrators in SonarQube, this group is removed when they log in, even if they are a member of sonar-administrators in Crowd.

[2017-04-20 02:05] johnny1952 opened #7 "org.sonar.api.utils.SonarException: Unable to test connection to crowd"
**env**
my sonar version:5.6.6
crowd sonar plugin:2.0
crowd version:2.3.4

**conf/sonar.properties:**
sonar.security.realm=Crowd
sonar.security.savePassword=false
sonar.authenticator.createUsers=true
sonar.security.updateUserAttributes=true
sonar.authenticator.downcase=false
crowd.url=http://my_crowd_server:8095/crowd/
crowd.application=t3-sonar
crowd.password=sonar
sonar.security.localUsers=admin

[2017-06-02 19:59] dalsgit commented on #5
vote

[2017-06-06 16:57] luis-botelho-pereira commented on #5
+1

[2017-06-15 15:35] engine007 opened #8 "Crowd based user cannot log in"
Hello sonar-crowd plugin developers,

We have a couple of questions:

1) We have encountered a situation when we have a 'username' in Crowd, but if the user tries to log in using capital 'Username', the user will only be able to use his capitalized account 'Username'. This is confusing and we think it is a bug actually.

[2017-06-21 17:22] mtv-jira opened #9 "sonar-administrators group membership is disappearing"
I'm seeing a problem where if a user belongs to sonar-administrators AND sonar-users in Crowd, when they log into sonar, they are removed from sonar-administrators locally (doesn't change in Crowd). Can a person belong to only one sonar- group at a time?

Update: it seems that any user belonging to sonar-administrators group is automatically removed that group in Sonar upon login.

(Crowd 2.7.2, S

[2017-07-03 08:34] wysockip commented on #9
I notice the same behaviour. Please can someone take a look into that?

[2017-07-03 08:35] wysockip commented on #6
I have the same problem, can't get the groups pulled into Sonar. Anyone can take a look on that?

[2017-07-07 12:23] ynojima commented on #9
I faced same issue.

[2017-07-10 22:51] CptPlastic opened #10 "Sonar plugin for crowd just stopped working"
All of the sudden new users added to a group in crowd are not able to login with sonar. I also noticed the groups dont update anymore. Is anyone else having this issue?

[2017-08-17 18:39] wermut commented on #9
Same here. If I create the group sonar-administrators in jira/crowd and add all sonar admins to it, they will automatically get into the local sonar sonar-administrators group. The same is with other groups.

Workaround:

1.  Create user group in sonar
1.  Create same group in jira
1.  Add Users in jira, instead of sonar
1.  On next login, the group in sonar will be populated

[2017-08-17 18:44] wermut commented on #6
The workaround described in [#9](https://github.com/SonarQubeCommunity/sonar-crowd/issues/9) will also work for this one.

[2017-08-18 11:13] mtv-jira commented on #9
This did not work for me. Some users even lose all group membership in Sonar when they log in.

[2017-11-16 12:04] pwagland commented on #5
The link to the https://jira.sonarsource.com/browse/SONARPLUGINS-694 no longer seems to work?

[2018-01-31 16:29] mcginleyr1 commented on #9
Getting the same issue with github logins.  The work around doesn't apply it seems as I tested this with github "groups".

[2018-03-08 15:31] netropic commented on #9
Issue is still occuring with SonarQube 7.0 and Crowd 2.12.

[2018-04-20 13:37] mdiskin opened #11 "Upgrading to Sonar 7.1 latest plugin now fails"
`java.lang.NoClassDefFoundError: org/apache/commons/logging/LogFactory
        at org.apache.commons.httpclient.MultiThreadedHttpConnectionManager.<clinit>(MultiThreadedHttpConnectionManager.java:70)
        at com.atlassian.crowd.integration.rest.service.RestExecutor.<init>(RestExecutor.java:53)
        at com.atlassian.crowd.integration.rest.service.RestCrowdClient.<init>(RestCrowdClient.java:85

[2018-04-20 14:13] kuhnroyal commented on #11
I fixed this by adding `org.slf4j:jcl-over-slf4j` to the pom and rebuilding myself.

[2018-04-24 15:25] SimonWaters commented on #11
We built from the Codecrafters fork for 7.1, which worked first time, but had some changes which we don't completely understand, which we assume related to API changes in Sonar.

[2018-04-24 16:08] kuhnroyal commented on #11
@SimonWaters Yea you are right, I also updated the minimum Sonar-API to 7.1 and fixed most deprecations.

[2018-05-02 14:12] MatthewBenbrook commented on #11
My workaround was to add commons-logging-1.1.3.jar to the sonar server in <SONAR HOME>/lib/common.  This is excluded from the dependencies as it is "provided", but in 7.1 it's not provided.

[2018-05-31 07:02] Sanjaykurra commented on #9
Face the same issue using Ldap too... I have added users in sonar-administrator group and once they login, the user is no more in this group.

[2018-06-08 04:49] pekarp commented on #10
I have noticed same issue when we upgraded SonarQube from version 5.6.6 to 6.7.3.
Old Crowd users are able to login and groups are synced (but with some delay).
New Crowd users get authentication failed message.

[2018-06-19 09:13] larkoie commented on #11
Hi guys,
I did what @MatthewBenbrook said and Sonarqube 7.1 could start with the Crowd plugin but I can't authenticate through it.
In the logs I get the following error :
DEBUG web[AWQW75R7H9GvbZxIAAAj][auth.event] login failure [cause|Expected one result (or null) to be returned by selectOne(), but found: 2][method|FORM][provider|REALM|Crowd][IP|127.0.0.1|10.10.11.119, 10.10.11.161][login|my_user

[2018-06-19 11:17] julienlancelot commented on #11
@larkoie this issue may be linked to https://jira.sonarsource.com/browse/SONAR-10532, if at least one email is used by more than one user.
It's fixed in SonarQube 7.2

[2018-06-19 14:39] larkoie commented on #11
@julienlancelot Nice catch, I had two users with the same email on this staging instance. After removing one of the user it worked.
Thanks for the quick help!

[2018-06-19 16:22] julienlancelot commented on #11
@larkoie You're welcome, I'm glad to have been able to help you !

[2018-07-30 08:42] donnib opened #15 "Crowd plugin is not available on marketplace for Sonarqube 7.2.1"

[2018-08-01 11:02] xJREB commented on #9
We had a similar issue with the GitLab Auth plugin. As a workaround, we set the `Default groups` property in the plugin configuration to empty. After that, we were able to keep the admin group for selected GitLab users.

- SonarQube version 7.1 (build 11001)
- GitLab Auth version 1.3.2

[2018-08-16 07:47] zok1995 commented on #9
I think that issue with Sonar groups. I use Sonar 7 and LDAP. After logout users lose admin group. But if you give user admin access through **Global Permissions** tab i works. User should have the same permissions as admin group.

[2018-08-21 12:28] deepy commented on #7
In the middle of all of this there's a `org.apache.commons.httpclient.ConnectTimeoutException: The host did not accept the connection within timeout of 5000 ms` so my guess is that there's a firewall in the way, but if not please try with 2.1 and re-open this issue if the problem persists @johnny1952

[2018-08-21 12:28] #7 closed

[2018-08-21 12:33] deepy commented on #6
When testing 2.1 the groups are being mapped from crowd, I set myself as a member of sonar-administrators and it appeared just fine in sonar

[2018-08-21 12:52] deepy commented on #9
I'm not able the recreate the disappearance of the admin group on `7.2.1` or `6.7.5`.
@zok1995 are these groups added in sonar (and not in crowd)?

On one hand I get that losing all permissions set in sonar is annoying, but on the other hand having crowd as the source of truth for the user makes more sense for me.

[2018-08-21 12:54] deepy commented on #10
@pekarp could you try it with 2.1 and see if the issue persists?

[2018-08-21 13:08] donnib commented on #15
@deepy cool stuff, u took over the repo ?

[2018-08-21 14:16] deepy commented on #15
Yeah, we're rolling it out at work and don't want to maintain an internal fork :-)

[2018-08-21 19:11] mtv-jira commented on #9
@deepy i discovered the source of my error... the people who originally set this up misspelled the name of "sonar-administrators" as "sonar-administators".

[2018-08-21 19:15] deepy commented on #9
I almost did that myself while setting up my crowd for testing 🙂
But thank you for following up! if someone else meets this then they got a good place to look.

Would it be OK to close this? When some time clears up I'm going to review+test and hopefully merge https://github.com/deepy/sonar-crowd/pull/4 which if working as described should provide a suitable alternative for those who don't want to

[2018-08-21 19:48] mtv-jira commented on #9
Yes! Please resolve.

[2018-08-21 19:48] #9 closed

[2018-08-22 12:48] ahuismandn opened #17 "Deprecated ServerExtension is removed in 7.3"
When adding the plugin to SonarQube 7.3 it prevents SonarQube from starting. This happens in an otherwise vanilla install of SonarQube 7.3. I tried versions 2.0 and 2.1 of the plugin, and both yield the same result.
The web.log logfile shows a NoClassDefFoundError:

`
2018.08.22 14:37:18 ERROR web[][o.s.s.p.Platform] Background initialization failed. Stopping SonarQube
java.lang.IllegalStateExcept

[2018-08-22 16:52] mariusstaicu commented on #17
I can confirm it too.

[2018-08-23 09:07] deepy commented on #17
Ooph, the CrowdConfiguration is using ServerExtension which was deprecated in 5.2 and I guess finally removed in 7.3

[2018-08-23 09:07] deepy commented on #15
Now available on the marketplace!

[2018-08-23 09:07] #15 closed

[2018-08-23 09:38] deepy commented on #17
This is fixed in 2.1.1, thank you for the report :slightly_smiling_face:

[2018-08-23 09:38] #17 closed

[2018-08-23 09:39] #6 closed

[2018-08-23 13:17] deepy opened #18 "Replace deprecated Settings with Configuration in CrowdConfiguration"
It's been deprecated since 6.5 so we should be good for a little while longer.

[2018-08-30 10:01] pekarp commented on #10
@deepy we tested with version 2.1.
We added group right (sonar-users) to old Corwd user which was not found in Sonar users.
We were able to login with that user (new user on that group).
Group changes worked correctly to that user (new groups).

Then we created new Crowd user and added group sonar-users but we could not login in (authentication failure). We added sonar-users group to third user (o

[2018-08-30 12:56] pekarp commented on #10
Hi @deepy,
we continued testing and founded that new user can't be added from Crowd if user has same email adderess that on someone current Sonar user.
In our first test email address was not used on Sonar users.
We changed email address for second and third user (those had same email address then on current Sonar user) and after email address change on Crowd for those two users we were could logi

[2018-08-30 14:11] deepy commented on #10
Thank you for testing it and reporting the results!

I have some good news in regards to the email issue, it seems like it has been fixed in sonarqube 7.2 :-)
If I'm reading it right it'll now create an error message detailing why it went wrong instead of giving a nondescript 500
https://jira.sonarsource.com/browse/SONAR-10532

[2018-08-31 15:23] korkutkose opened #19 "Groups Aren't Being Synced"
Hi,

We have installed SonarQube 6.7.x from scratch. There were no configuration or installation files before. After installing the plugin version 2.1 and making the necessary configurations, people were able to login Sonar over Crowd. However, groups aren't being synced to Sonar.
Groups are important for us for defining the Administrator users and Application permissions.
Is there any idea what i

[2018-09-19 09:12] deepy commented on #19
Hello @thelastjirabender, sorry for the late response, I didn't get my default watch settings when the repository was transferred to me.

But 2.1.1 should be fine since the APIs used were introduced in an earlier sonar version, as for the groups being synced: are they using the same case in sonar and crowd? (e.g. foo-admins vs foo-Admins) and do the groups currently exist in sonar?

[2018-09-25 06:53] canardi opened #20 "Periodic synchronization with Crowd"
Dear all,

I'm opening a discussion in order to implement a new functionality on this plugin.
A periodic synchronization with CROWD configurable (parameter like every 1 hour).

From that moment, CROWD will be the only source to manage permissions.
We will use the "Developer Edition" of SonarQube, meaning that one project contains multiple branches.
This project is existing in the CROWD with a spec

[2018-10-01 15:13] flopma commented on #19
I guess this question relates to issue #20

[2018-10-01 15:19] flopma commented on #20
After checking the code source, it looks like the cheapest way to solve this issue is to change the method org.sonar.server.authentication.UserIdentityAuthenticator#syncGroups to allow it to create missing groups in Sonarqube's DB. Of course the scope of the change is not anymore into the plugin, but more in Sonarqube itself.

[2018-10-01 17:52] flopma commented on #20
Pull request sent https://github.com/SonarSource/sonarqube/pull/3182

[2018-11-28 09:10] deepy commented on #8
Closing old question as there's no follow-ups.

[2018-11-28 09:10] #8 closed

[2018-12-03 08:07] thelastjirabender commented on #19
Hi @deepy and @flopma,
Sorry for the uber late response :) I was assigned to another project and couldn't deep dive into this issue. As @flopma suggested, I also believe that this is because of Sonar doesn't know about the Crowd groups. Group table in Sonar DB only contains sonar-administrators and sonar-users groups which is explaining the issue that we are still having. Is @flopma 's pull reques

[2018-12-03 08:45] thelastjirabender commented on #19
Ok my bad. We were talking about completely different things :) Pull request was sent to SonarQube project not the crowd plugin, I just noticed. So this is the other way of saying, the only possible way to achive this is to wait until we have this feature SonarQube's itself not the plugin. Am I right?

[2018-12-03 10:34] thelastjirabender commented on #19
A quick update and workaround for this problem is to create the group(s) in Sonar's internal directory manually. After that, when the user logins again, related group thus DB table is populated properly.
It's an acceptable workaround for me since I am only trying to get Sonar Admin group from Crowd. This is not sustainable or robust solution if you are trying to get more than a few groups from Cro

[2018-12-16 22:34] eyazici commented on #5
+1 The SSO feature will be very helpful.

[2019-01-02 22:42] ronhks commented on #5
+1

[2019-02-20 12:20] jannylund opened #22 "Synchronization issue with specific group names"
We have a long running issue that some specific groups are not being synchronized between JIRA and Sonarqube. (currently JIRA 8.0.0 and Sonar 6.7.4).

For example, given the following group names (yep, 45 chars!)

[code]

Users from the group ending in admin are synced properly, users from the group ending in users are never synchronized and the group will forever stay empty in Sonarqube.

The len

[2019-03-01 15:14] CptPlastic commented on #10
I am going to try to get this to work today I was holding off until I had time to work on this.

[2019-03-03 11:30] piszczek commented on #9
Same here, problem still exists on:

- SonarQube version 7.6.0.21501
- GitLab Auth version 1.3.2

Only when we grant admin access via global permissions it works in other cases permissions lost.

[2019-03-05 10:02] murthy1979 opened #23 "Unable to authenticate against Crowd from Sonarqube"
We have Sonarqube installed on docker environment and are trying to authenticate users & groups against our Atlassian Crowd. We see the request is not reaching Crowd.

The crowd add-on is installed and configuration details are provided in sonar.properties.

Sonarqube version: Version 6.7.6 LGPL
Any help is much appreciated

Thanks

[2019-03-11 07:39] murthy1979 commented on #23
Can you please provide any pointer to the issue.

thanks

[2019-03-15 08:53] deepy commented on #23
@murthy1979 if the request is not reaching Crowd and you can see a notice in the log that the Crowd plugin is loaded then it sounds like either the details in sonar.properties (check that `crowd.url` contains the correct path, is it http://crowd-stage/ or http://crowd-stage/crowd?) might be incorrect or that there's a network issue preventing it from connecting.

If the properties are correct, can

[2019-03-29 21:19] amargono commented on #5
Is there any plan to support the Crowd SSO?

[2019-04-01 13:49] UglyAnimal commented on #9
Same issue with:
Sonarqube CE Version 7.7 (build 23042)
Freeipa 4.6.4

[2019-04-14 23:54] evanerwee opened #24 "Sonarqube startup stop after trying to initializing the Crowd Plugin"
This is a test environment. Latest version of Atlassian Crowd deployed. Latest version of Sonatqube. We have several services in the LAB and all of them successful connect to Crowd. Sonarqube service is binding to 127.0.0.1. We use Nginx for HTTPS connection (All that is working if we disable the plugin.) Crowd is also HTTPS. We deployed Sonatype Nexus on the same server as Sonarqube and all integ

[2019-04-15 17:30] evanerwee commented on #24
We have abandon Sonarqube to Crowd integration. We simple cant get the integration between SonarQube 7.7 and Crowd 3.4 to work.

[2019-04-19 12:37] deepy commented on #24
@evanerwee what version of java are you running sonarqube with?
From the exception it looks like you might be on 9 or later and sonarqube only supports 8.

[2019-06-01 08:38] asyslinux commented on #24
I confirm, SonarQube 7.7 not working with Crowd Authenticator Plugin.

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-2~deb9u1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)

Errors starting from:

``
java.lang.IllegalStateException: Unable to load component class org.sonar.server.platform.ws.SystemWs
        at org.sonar.core.platform.ComponentCon

[2019-06-03 18:08] deepy commented on #24
This has been fixed in 2.1.2 which is available on github release and should hopefully soon appear on the marketplace :-)
https://community.sonarsource.com/t/new-release-crowd-plugin-2-1-2/10386

[2019-06-03 18:08] #24 closed

[2019-07-02 13:20] aschepp opened #25 "java.lang.NoClassDefFoundError: javax/xml/bind/JAXB"
I tried to run the Crowd plugin 2.1.2 on Sonarqube 7.9 on OpenJDK 11 and I run into this problem on startup:

2019.07.02 14:41:31 ERROR web[][o.s.s.p.Platform] Background initialization failed. Stopping SonarQube
java.lang.NoClassDefFoundError: javax/xml/bind/JAXB
    at com.atlassian.crowd.integration.rest.service.RestExecutor.setBody(RestExecutor.java:204)
    at com.atlassian.crowd.integration.

[2019-07-02 17:07] gumbo2k opened #26 "User renamed in crowd. Can not log in to sonarqube"
Hi,
we just renamed a bunch of users in crowd. (Not just changed the display name or Email, but changed the login name)
The atlassian tools picked up on the rename without a hitch.
Sonarqube apparently did not. (At least I can still see the old names in Administration > Security > Users. )
Question1: Is this a bug or a missing feature?
Question2: What is the workaround? (stop sonarqube; change use

[2019-07-03 14:01] frdeboffles commented on #25
I attempted to add `javax.xml.bind:jaxb-api:2.3.0` to the pom dependencies but then I'm hitting some issues that it needs a jaxb implementation.
[code]
Therefore I also added `javax.activation:activation:1.1`, `org.glassfish.jaxb:jaxb-runtime:2.3.0` to the pom with the same exact result... Finally I only kept `javax.xml.bind:jaxb-api:2.3.0` in the plugin pom and manually added `javax.activation:ac

[2019-07-03 23:29] robmcelvenny commented on #25
I've been working on this for a while. I believe that this issue isn't happening because of sonar-crowd, but because in Java11 JAXB has been completely removed.

I've found a number of different issues, but more importantly, the issue here:

https://github.com/SonarSource/sonarqube/blob/2fffa4c2f79ae3714844d7742796e82822b6a98a/server/sonar-server/build.gradle

Shows that there is a dependency for

[2019-07-04 00:25] robmcelvenny commented on #25
I went even deeper... @frdeboffles you need to include
          <dependency>
            <groupId>com.sun.xml.bind</groupId>
            <artifactId>jaxb-impl</artifactId>
            <version>2.1</version>
          </dependency>

in the sonar-crowd pom.xml file, also download jaxb-impl-2.1 into sonarqube-7.9/lib/common ... make sure that all of the dependencies match in version, otherwise you w

[2019-07-04 07:45] deepy commented on #25
Thank you all for the investigations! I'm currently in the process of moving so I won't be able to look at it this week, if someone has a PR I'll be able to test it on Sunday

[2019-07-05 10:29] colin-mueller-sonarsource commented on #25
@deepy Is it alright if I move to mark Crowd _v2.1.2_ as incompatible with SonarQube _v7.9_ (compatibility ending at _v7.8_)?

[2019-07-05 10:42] shivendrakd commented on #24
Hi ,

I am using crowd 2.1.2 plugin only in SOnarQube 7.9
I am still getting same error.
Any help in SoanrQube-Crowd issue wiil be appreciated.

2019.07.05 12:35:33 ERROR web[][o.s.s.p.Platform] Background initialization failed. Stopping SonarQube
java.lang.NoClassDefFoundError: javax/xml/bind/JAXB
        at com.atlassian.crowd.integration.rest.service.RestExecutor.setBody(RestExecutor.java:204)

[2019-07-05 10:43] shivendrakd commented on #24
Hi ,

I am using crowd 2.1.2 plugin only in SOnarQube 7.9
I am still getting same error.
Any help in SoanrQube-Crowd issue wiil be appreciated.

2019.07.05 12:35:33 ERROR web[][o.s.s.p.Platform] Background initialization failed. Stopping SonarQube
java.lang.NoClassDefFoundError: javax/xml/bind/JAXB
at com.atlassian.crowd.integration.rest.service.RestExecutor.setBody(RestExecutor.java:204)
at com.a

[2019-07-05 10:48] deepy commented on #24
@shivendrakd there's already an open issue for that (which is different to this issue)

[2019-07-05 10:49] deepy commented on #25
@colin-mueller-sonarsource that'd be great! Thank you!

[2019-07-05 10:52] shivendrakd opened #27 "The newest release of the Crowd plugin (2.1.2) doesn’t work with SonarQube 7.9 LTS"
The newest release of the Crowd plugin (2.1.2) doesn’t work with SonarQube 7.9 LTS

Please advise what we should do now.

[2019-07-05 11:56] colin-mueller-sonarsource commented on #25
@deepy Done. As always, thanks for maintaining this project! Looking forward to a 7.9 compatible version :)

[2019-07-05 12:10] deepy commented on #27
Duplicate of #25

[2019-07-05 12:10] #27 closed

[2019-07-08 17:13] frdeboffles commented on #25
Found an ugly way to fix this plugin. I'll create a PR soon.

[2019-07-08 18:07] robmcelvenny commented on #25
Thanks for sending!

I keep running into a new issue: “com/sun/istack/Pool” no class definition found.

  Robert.McElvenny@gmail.com (mailto:Robert.McElvenny@gmail.com)
 702-238-9721
 Robert A. Mcelvenny

[2019-07-08 18:39] frdeboffles commented on #25
@robmcelvenny Can you paste a bit more of your stacktrace?

[2019-07-08 19:25] robmcelvenny commented on #25
Sure give me a moment :-)

  Robert.McElvenny@gmail.com (mailto:Robert.McElvenny@gmail.com)
 702-238-9721
 Robert A. Mcelvenny

[2019-07-08 20:07] deepy commented on #25
Had to recreate my testbed so I didn't have time to investigate further, but the PR is not working for me with sq 7.9 :-(

[2019-07-08 22:59] robmcelvenny commented on #25
Here was the error after fixing the jaxb-api / jaxb-impl / jaxb-core issue:

`java.lang.NoClassDefFoundError: com/sun/istack/Pool
        at com.sun.xml.bind.v2.runtime.JAXBContextImpl$JAXBContextBuilder.build(JAXBContextImpl.java:1156)
        at com.sun.xml.bind.v2.ContextFactory.createContext(ContextFactory.java:165)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Nat

[2019-07-08 23:16] frdeboffles commented on #25
@robmcelvenny Can you please try with my latest update?

[2019-07-08 23:39] frdeboffles commented on #25
@robmcelvenny, @deepy, did some updates to the PR. It should work now.

[2019-07-09 09:01] shivendrakd commented on #25
Can someone please share jar file having fixed commit 020274b ?

[2019-07-14 13:05] #25 closed

[2019-07-14 13:14] deepy commented on #23
Closing question with no response

[2019-07-14 13:14] #23 closed

[2019-07-18 07:04] shivendrakd commented on #25
New crowd plugin is avaialbel for SonarQube 7.9 ?

Please share if available

[2019-07-18 07:26] kamal951 commented on #25
The version 2.1.3 is working with Sonarqube 7.9. You can found it here [https://github.com/deepy/sonar-crowd/releases](https://github.com/deepy/sonar-crowd/releases)

[2019-07-22 13:31] aschepp commented on #25
Thanks, I just installed 2.1.3 and it works again.

[2019-09-23 21:18] JoshMentzer opened #30 "Sonarqube in Docker"
Is it possible to configure the sonar-crowd plugin via the environment from a docker-compose file?  Ie.:

sonarqube:
    image: sonarqube
    expose:
      - '9000'
    environment:
      - sonar.jdbc.url=jdbc:postgresql://sonardb:5432/sonar
      - crowd.url=${CROWD_URL}
      - crowd.application=${CROWD_APPNAME}
      - crowd.password=${CROWD_PASSWORD}
      - sonar.security.realm=Crowd
      -

[2019-09-24 10:09] deepy commented on #30
Hmm, if you're lucky `sonar.crowd.password` might work otherwise you'll have to use bind-mounted persistent volumes or custom docker images.

But I like the idea of this, I'll have a look and see how it's done in sonarqube, though really it feels like this should be done upstreams

[2019-10-25 02:33] azfar96 commented on #9
Remove all group mapping properties from the LDAP Configuration section in sonar.properties file. That should resolve the issue.

[2019-11-16 06:02] zain1824 opened #31 "Sonarqube 7.9.1 is not starting up with sonar-crowd 2.1.3"
We have upgraded sonarqube from 7.4 to 7.9.1 where we need to upgrade sonar-crowd plugin from 2.1.1 to 2.1.3.

After the upgrade, sonar application is starting up as expected without Crowd config. But while starting up with crowd, it fails at the start up.

Here is the crowd config on sonar properties.
[code]
Here is the web log error
[code]

Any suggestion would be much appreciated. Thanks

[2019-11-22 22:36] ogtool commented on #26
The Atlassian products handle renames by storing all content "owned" by you under the first username you logged in to the system with. There's then a table (app_user in Jira) that maps from your original username to your current username. If your Unique User Attribute in Crowd is configured to pull from an objectGUID or similar in AD/LDAP, then changing a user in your source directory will keep th

[2020-01-31 16:06] jonesbusy commented on #5
+1

[2020-01-31 17:08] deepy commented on #5
There's plans but no ongoing work, if someone sends a PR I'll test, review, merge and release but it's not likely that I'm going to work on this any time soon.
My primary focus right now is compatility and bugfixes.

[2020-02-18 14:43] jbob-bmw opened #32 "Create Crowd groups in Sonar automatically after login"
Hi all,
we are using Crowd groups for authorization of different projects. So we have a lot of Crowd groups which should be created in Sonar automatically.
At the moment I have to create the Sonar group manually and then the group memberships are fetched automatically with this nice plugin.

My idea is, that when fetching the groups from Crowd here:

`org.sonar.plugins.crowd.CrowdGroupsProvider.do

[2020-02-19 13:29] deepy commented on #32
I guess the best place to ask this question is at the sonarqube community forums https://community.sonarsource.com/

[2020-03-10 12:47] bchatard commented on #30
hello,

I try the following environment variables:
* `CROWD_<KEY>` (eg: `CROWD_PASSWORD`): fail
* `SONAR_CROWD_<KEY>` (eg: `SONAR_CROWD_PASSWORD`): fail too

I go trough mounted volume of `SONARQUBE_HOME/conf/sonar.properties`, but env vars will be the best for docker instance :)

[2020-04-08 07:00] vgalunov opened #33 "Plugin does not start in SQ 8"
Developer Edition Version 8.1 (build 31237)
Crowd INTEGRATION 2.1.3
Atlassian Crowd Version: 3.4.5

[code]
In the log has to be success or error notification from CrowdRealm.java.
But command gives me 0 lines
cat /opt/sonarqube/logs/* | grep -i realm

This one gives 1 line:
cat /opt/sonarqube/logs/* | grep -i crowd
INFO web[o.s.s.p.ServerPluginRepository] Deploy plugin Crowd / 2.1.3

As I undertoo

[2020-04-16 10:43] saguirre1 opened #34 "sonar-crowd with SSO"
The installation I have of Crowd is integrated with
-JIRA
-Bamboo
-Confluence
-Bitbucket

through SSO.

Is it possible that when I login for example to JIRA (which by SSO also logs me in to Crowd) I will also be logged in to SonarQube?

Thanks.

[2020-04-28 12:34] chrissike opened #35 "licensing question"
Dear owner,
I can't find any licensing information in this repository.
Could you please tell me if the content falls under an OS license?
Otherwise I will assume it's proprietary as discussed here:
https://opensource.stackexchange.com/questions/1720/what-can-i-assume-if-a-publicly-published-project-has-no-license

Thank you very much for your response!
BR Christina

[2020-04-28 12:50] deepy commented on #35
Hi @chrissike, it might be a bit confusing as the licensing details are in `pom.xml`, I'll extract them later tonight into a LICENSE.txt to make it easier, thanks for bringing this to attention!

[2020-04-29 07:18] chrissike commented on #35
awesome @deepy, thank you very much for your fast reply!

[2020-04-29 10:30] deepy commented on #35
Got a bit delayed, but now there's also a `LICENSE.txt`, thanks once again!

[2020-04-29 10:30] #35 closed

[2020-04-29 10:34] deepy commented on #34
There's currently no SSO support, there's #5 for tracking that, but unfortunately there's no ongoing work.
I did give it a try once and it doesn't seem like it'd be impossible to implement, there's a branch called `sso-identity` if you're interested in trying to get it working.

[2020-04-29 10:34] #34 closed

[2020-04-29 10:37] deepy commented on #33
It's possible that it might not work with 8, the last version I tried was 7.9 but in the last release all the deprecations were addressed.
I'll try it on 8.2 and see if it works

[2020-04-29 11:30] deepy commented on #33
@vgalunov it worked fine for me on 8.2 with crowd 3.4.5.
I installed the latest version from the marketplace, added the following to `conf/sonar.properties` and stopped and started the server.
[code]

After that I could login to sonar with my crowd user

[2020-04-29 11:34] deepy commented on #31
@zain1824 I can't reproduce this and judging by the error message the problem is that your sonarqube instance can't reach the crowd installation.

Does `curl https://mycompany:8443/crowd/` work on the machine?

[2020-04-29 11:43] deepy commented on #30
I guess it'd be pretty easy to implement this using `System.getenv()`, if someone submits a PR I'll accept it and create a release, but I think this is something that should be pushed upstreams, to me it makes sense that sonarqube would have some mechanism to accept any properties through environment variables (and there is some support already: [see link](https://docs.sonarqube.org/latest/setup/e

[2020-04-29 17:35] vgalunov commented on #33
@deepy

It does not work for me for some reason and it is not a config issue.

Because according to https://github.com/deepy/sonar-crowd/blob/master/src/main/java/org/sonar/plugins/crowd/CrowdRealm.java

if config correct I should see line 104 execution result:
LOG.info("Crowd configuration is valid, connection test successful.");

else any of these 106-110:
throw new SonarException("Unable to tes

[2020-06-19 08:37] #31 closed

[2020-08-17 21:11] mdeboer commented on #10
Same here using SonarQube 8.4.1 (build 35646). To get it working I deleted the existing SQ user and then signed in as that user with the Crowd credentials.

[2020-09-16 07:06] derhecht commented on #5
+1

[2020-09-16 07:28] deepy commented on #5
At the moment I'm not working on any new features for sonar-crowd, I'm just doing bugfixes and working on keeping it compatible.

There is a branch called `sso-identity` where I did a quick test for implementing SSO and it doesn't seem like it'd be hard to implement.

But I'm just doing bugfixes right now, I'm doing this in my spare-time with no external funding and crowd is a kinda enterprisey to

[2020-09-16 07:30] deepy commented on #5
And if not, I can recommend moving to keycloak or similar, they're great products really

[2020-09-16 14:44] derhecht opened #36 "JAVA 11 on SQ leads to Exeption"
I'm working on the https://github.com/deepy/sonar-crowd/issues/5 but when loading plugin into SQ 7.9 running on JAVA 11 (in official Docker container) I got
Caused by: java.lang.ClassNotFoundException: com.sun.xml.internal.bind.v2.ContextFactory
from
        at javax.xml.bind.JAXB.unmarshal(JAXB.java:241)
        at com.atlassian.crowd.integration.rest.service.RestExecutor$MethodExecutor.andReceiv

[2020-09-17 16:35] deepy commented on #36
Hmm, that's strange, I could've sworn there's reports of people running it on 7.9 and I'm pretty sure I tested it on Java 11
I currently don't have access to the correct laptop but I might be able to have a look at it tomorrow

Maybe there's an --add-module or similar necessary?

[2020-09-18 10:04] deepy commented on #36
I don't have the testbed set up on that computer either.

So just to confirm some things, this is failing with a version you built from latest master (or a branch including latest master)?
Do you know if it works with the sonar-crowd from marketplace? That JAR can also be retrieved from https://github.com/deepy/sonar-crowd/releases/tag/2.1.3

I'm temporarily stuck out of town with the wrong laptop

[2020-09-18 12:21] derhecht commented on #36
I use the branch an merged master.

It works with 2.1.3 in JAVA 11 SonarQube 7.9.2 - so no problem on current marketplace version.

[2020-09-18 13:19] deepy commented on #36
That's strange, the only thing different between 2.1.3 and master is that the license has been copied into LICENSE.txt, so something is strange, the branch I tried it on doesn't have anything that should impact it, so my best suggestion is try rebasing the branch on master instead of merging.

[2020-10-10 00:59] cmillaqueo opened #37 "Problems with integration to internal crowd directories"
We have problems to be able to synchronize the internal directories from crowd to sonarqube, only the directory that we have integrated into Ldap works correctly.

Some months ago we have upgrated sonar to its version 7.9.1, since then we have such a problem.

Our current sonar.properties configuration is as follows:

sonar.security.realm=Crowd

crowd.url=http://xx.xx.xx.xx:8080/crowd/

crowd.appl

[2020-10-10 17:19] deepy commented on #37
Hmm, that's strange. I think my own testing relied mostly on internal directories.
And the point of Crowd is kinda that it shouldn't make a difference for the application querying for users.

Do your internal users have email addresses added to them?

[2020-10-13 13:15] cmillaqueo commented on #37
Hi,

Yes, but a generic email is used for most of the users.

Regards.

[2020-10-13 19:09] cmillaqueo commented on #37
Hi,

thanks you for the answer, i will try.

Regards

[2020-10-15 00:22] cmillaqueo commented on #37
Hi,

indeed, that is the problem, I have done some tests and it has worked correctly.

Thanks a lot

Regards

[2020-10-15 23:27] #37 closed

[2020-11-06 10:49] deaamoflih commented on #33
@vgalunov
Hi ,
 i have now exactly the same issue.. i have tried it also for the SQ versions 7.9+ and got the same problem:
crowd plugin 2.1.3 deployed but not started.
did you have already a way to fix this?
i appreciate your answer..

[2020-11-06 10:53] vgalunov commented on #33
@deaamoflih
You need an active license.

[2020-11-06 10:53] #33 closed

[2020-11-06 11:31] deaamoflih commented on #33
@vgalunov
thanks a lot for your answer.
you mean i have to upgrade the SQ Version with an  active license ?
i use in my deployment a docker image , pulled from the official SQ repo in docker hub.

[2020-11-08 10:16] deaamoflih opened #38 "compatible problem : SQ 7.9 with plugin 2.1.3"
hi ,
i have the issue that the plugin never started with with SQ , i use the following installation :

sq: version 7.9-community (Image from the official sq docker hub repository)
crowd plugin: 2.1.3 (from sq market place)
Atlassian Crowd Version: 3.7.5

my sonar.properties config:
`sonar.security.realm=Crowd`
`crowd.url=https://my-company.com/crowd/`
`crowd.application=sonar`
`crowd.password=the_

[2020-11-09 07:48] deepy commented on #38
This sounds a lot like #33 and I can assure you, the plugin works on 7.9.

My recommendation is to install 7.9 manually, outside of docker/kubernetes, following the instructions in the repository and see if that works.
If that doesn't work then there may be an issue, but right now I'm leaning towards incorrect setup

[2020-11-11 08:34] deaamoflih commented on #38
thanks a lot for your answer. it works now.

[2020-11-11 10:04] deepy commented on #38
@deaamoflih out of curiosity, what was the issue? given that it happened to at least 2 persons it might be something that should be added to the README

[2020-11-11 10:31] deaamoflih commented on #38
so, it was just a compatible problem between the sq image version and the plugin version.
in my case it did not work with image version 7.9 with last version of plugin.
it works for now with folowing:
sq version  6.4 (build 25310) (image pulled from docker hub)
plugin version: 2.0
Atlassian Crowd Version: 3.7.5

[2020-11-11 10:32] deepy commented on #38
the 2.1.3 release was literally created to support 7.9 and I tested it locally with SQ 7.9, so that is strange

[2020-11-11 10:39] deaamoflih commented on #38
exactly, that was strange also for me.
maybe because it was a community version for the docker image(that needs may be an active license) , but im not sure what was the problem.

[2021-05-07 11:56] #36 closed

[2021-05-28 09:14] deepy opened #39 "Move from travis-ci to GitHub Actions"
With travis-ci down for the count we should move to GitHub Actions

[2021-05-28 09:21] deepy opened #40 "Remove/change dependency on crowd-integration-client-rest"
The disappearance of `crowd-integration-client-rest` from Atlassian's maven repos means that building this plugin is now a minor headache if you haven't built it before (as you need to manually locate dependencies)

This can be seen in travis-ci (which has lost the cached dependency)

[2021-05-28 09:32] deepy opened #41 "State of this plugin (please continue to report issues though)"
I'm not personally using this plugin any longer but I've not abandoned it, this unfortunately means all work is reactive rather than proactive.

If the plugin stops working with the current LTS or the latest version please open an issue and I'll work on fixing it, priority goes to the LTS.

I don't respond quickly to email so please don't email me regarding this plugin unless one of the following

[2021-06-16 08:19] madhuvanthiyellur opened #42 "Plugin doesn't work with SonarQube 8.9 LTS"
Hi,

We use Crowd as the primary authentication tool for SonarQube and we see that the plugin seems to be not working for newly released 8.9 LTS. SonarQube and Crowd connection is successful but unable to access Sonarqube. Is this issue known? Could you please fix this issue or give an update on when this will be done?

`INFO  web[][org.sonar.INFO] Security realm: Crowd
INFO  web[][c.a.c.s.c.Clien

[2021-07-17 20:04] deepy commented on #42
Latest release on github has support for 8.9+ and I also verified that groups sync

Just waiting for https://github.com/SonarSource/sonar-update-center-properties/pull/229 to get completed and then it should show up in the update center

[2021-08-12 18:36] deepy opened #44 "Add more automated system tests"
There's some basic scaffolding in the branch `system-tests` for quickly testing with new sonar versions

Right now it's too much of a manual process to be very useful

[2021-08-20 17:18] deepy commented on #42
Feel free to grab the latest release from github, it should work with 8.9

[2021-08-20 17:18] #42 closed